<li>
    <span class="burgername"}>{{burger_name}}</span>

    <a class="waves-effect change-devoured waves-light btn" data-id="{{id}}" data-newdevoured="{{devoured}}">

        <i class="material-icons right">note</i>
        {{#if devoured}}FATALITY!{{else}}TIME TO EAT UP!{{/if}}

    </a>

    <!--<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">-->
        <!--{{#if devoured}}FATALITY!{{else}}TIME TO EAT UP!{{/if}}-->
    <!--</button>-->

</li>